[Unit]
Description=Run wallpaper changer every 3 hours

[Timer]
OnBootSec=5min
OnUnitActiveSec=3h
Persistent=true

[Install]
WantedBy=default.target

